<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RealAppMapper">

    <select id="queryNewUserCount" resultType="com.example.entity.NewUserCount">
        SELECT MAX(dt) AS dt, add_user
        FROM new_user_count
    </select>

    <select id="queryTotalSales" resultType="com.example.entity.TotalSales">
        SELECT MAX(dt) AS dt, total
        FROM total_sales
    </select>

    <select id="queryHotCity" resultType="com.example.entity.HotCity">
        SELECT MAX(dt) AS dt, city
        FROM hot_city
    </select>

    <select id="queryActiveUserCount" resultType="com.example.entity.ActiveUserCount">
        SELECT MAX(dt) AS dt, user_name
        FROM active_user_count
    </select>

</mapper>
